:root {
   --fc-border-color: #000000;
}


@import '../../../../css/utils/utils';


$colors: ('red': $default_red, 'darkred': #820612, 'green': #25AF09, 'black': $default_black);


.fc-header-toolbar {
   background-color: getColor('green');
}

.fc-col-header-cell-cushion {
   color: getColor('darkred');
}

.fc-daygrid-day-number {
   color: getColor('red');
}

.fc-event-title {
   font-weight: bold;
   color: getColor('black');
}