:root {
   --fc-border-color: #000000;
}

.fc-header-toolbar {
   background-color: rgb(32, 143, 10);
}

.fc-col-header-cell-cushion {
   color: #820612;
}

.fc-event-title {
   font-weight: bold;
   color: #000000;
}