@import '../../../../css/utils/utils';


$colors: ('red': $default_red, 'grey': #B1ACAC, 'black': $default_black);
$black: getColor('black');


td {
    border: 1px solid $black;
}

thead {
    background-color: $black;
    color: getColor('red');
}

tbody {
    background-color: getColor('grey');
}