@import './utils/utils';


$colors: ('red': $default_red, 'white': #F5F5F5);
$default: 0;


* {
   margin: $default;
   padding: $default;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: getColor('white');
}

#err {
   color: getColor('red');
}