@import '../../../../css/utils/utils';


$colors: ('grey': $default_grey, 'black': $default_black);


#chart-container {
   background-color: getColor('grey');
}

select,
option {
   font-weight: bold;
   border: 1px solid getColor('black');
}

select:hover {
   cursor: pointer;
}